<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Boobs rate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="left">
            <router-link :to="'/'" class="nav-link">Main</router-link>
            <router-link :to="'/top/25'" class="nav-link">Top 25</router-link>
            <router-link :to="'/top/100'" class="nav-link">Top 100</router-link>
            <router-link :to="'/abyss/100'" class="nav-link">Abyss</router-link>
          </div>
          <div class="right">
            <a class="nav-link" href="https://murrengan.ru"> Murrengan </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "header"
}
</script>

<style scoped>

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  display: flex;
}
</style>