<template>
  <div class="top-wrapper">
    <div class="cards row justify-content-center">
      <template :key="card.id" v-for="card in cards">
        <div class="card-wrap">
          <v-card class="card-top"
                  :card_data="card"
                  @voteCard="voteCard"
                  :show="show"
          />
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import vCard from "@/components/card/Card";
import axios from "axios";
import WS from "@/services/ws";

export default {
  name: "abyss",
  components: {
    vCard
  },
  data() {
    return {
      show: true,
      cards: []
    }
  },

  created() {
    this.getCards();
  },

  mounted() {
    let self = this;
    WS.onmessage = function (event) {
      let data = JSON.parse(event.data);
      if (data.type === "new_rating") {
        self.cards.find(card => card.id === data.message.tits_id).rating = data.message.new_rating;
      }
    }
  },

  methods: {
    getCards() {
      let count = this.$route.params.count || 25;
      this.show = true
      axios.get(process.env.VUE_APP_BACKEND_URL + "/tits/abyss/" + count).then(response => {
        this.cards = response.data;
        this.show = false
      })
    },
  }
}
</script>


<style scoped>


.top-wrapper {
  padding: 10px;
  height: 100%;
}

.card-top {
  padding: 10px;
  margin: 10px;
  background: #080129;
  width: 85%;
  height: 60vh;
}

.card-wrap {
  width: 33%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .card-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .card-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
</style>