<template>
  <div class="rating">
    <div class="cards row justify-content-center">
      <div class="card-wrap">
        <v-card
            :card_data="cards[0]"
            @voteCard="voteCard"
            :show="show"
        />
      </div>
      <div class="card-wrap">
        <v-card
            :card_data="cards[1]"
            @voteCard="voteCard"
            :show="show"
        />
      </div>
    </div>
  </div>
</template>

<script>
import vCard from "@/components/card/Card";
import axios from "axios";
import WS from "@/services/ws";

export default {
  name: "compare",
  components: {
    vCard
  },
  data() {
    return {
      show: true,
      cards: []
    }
  },

  created() {
    this.getCards();
  },

  mounted() {
    let self = this;
    WS.onmessage = function (event) {
      let data = JSON.parse(event.data);
      if (data.type === "new_rating") {
        self.cards.find(card => card.id === data.message.tits_id).rating = data.message.new_rating;
      }
    }
  },

  methods: {
    getCards() {
      this.show = true
      axios.get(process.env.VUE_APP_BACKEND_URL + "/tits").then(response => {
        this.cards = response.data;
        this.show = false
      })
    },
  }
}
</script>


<style>
.rating {
  padding: 10px;
  height: 100%;
}

.card-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .card-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
</style>