<template>
  <div class="card">

    <div class="card-rating">
      <p>RATING: {{ card_data.rating }}</p>
    </div>

    <div class="card-image" @click="voteCard(card_data.id)">
      <Loader v-if="show"/>
      <img v-if="!show" class="img-thumbnail bg-dark border-0" :class="{ blur: !isAuth.value }" :key="card_data.id"
           :src="card_data.url"
           alt="No Image">
    </div>

    <div class="actions p-2">
      <a class="btn btn-outline-info action-button" :href="card_data.full_url">
        <i class="bi bi-badge-hd-fill"></i>
      </a>
      <button class="btn action-button btn-outline-danger" @click="reportCard(card_data.id)">
        <i class="bi bi-emoji-angry-fill"></i>
      </button>
    </div>

  </div>

</template>

<script>

import Loader from '@/components/card/Loader'
import axios from "axios";

export default {
  name: "v-card",
  inject: ['isAuth'],
  components: {Loader},
  methods: {

    voteCard(card_id) {
      //this.show = true
      axios.post(
          process.env.VUE_APP_BACKEND_URL + '/tits/' + card_id,
          {}
      ).catch(error => (console.log(error))).then(this.$parent.getCards())
    },

    reportCard(card_id) {
      axios.post(
          process.env.VUE_APP_BACKEND_URL + '/tits/report/' + card_id,
          {}
      ).catch(error => (console.log(error))
      ).then(this.$parent.getCards())
    },

  },
  props: {
    card_data: {
      type: Object,
      required: true,
      default() {
        return {}
      },
    },
    show: {
      type: Boolean
    },
  },
}
</script>

<style scoped>

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-button {
  background: #4c4864;
}

.card {
  padding: 10px;
  margin: 10px;
  background: #080129;
  width: 85%;
  height: 75vh;
}

.card .card-image {
  background-position: center;
}

.card-rating {
  color: #fffc;
}


.img-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-thumbnail.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.card-image {
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.actions {
  height: 10%;
}

@media screen and (max-width: 900px) {
  .card {
    height: 50vh;
  }
}
</style>